.statistics{
    border: 1px solid black;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    
}
.title{
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 10px;
}
.statList{
    list-style: none;
    display: inline-flex;
}
.item{
    width: 60px;
    color: #fff;
}
.item:nth-child(odd){
    background-color: rgb(86, 197, 245);
}
.item:nth-child(even){
    background-color: rgb(162, 70, 240);

}
.label{
    display: block;
    text-align: center;
    padding-top: 5px;
}
.percentage{
    display: block;
    text-align: center;
    font-size: 18px;
}